/.vs
/packages

/Hahn.ApplicatonProcess.July2021.Data/Properties
/Hahn.ApplicatonProcess.July2021.Data/bin
/Hahn.ApplicatonProcess.July2021.Data/obj
/Hahn.ApplicatonProcess.July2021.Data/*.user

/Hahn.ApplicatonProcess.July2021.Domain/Properties
/Hahn.ApplicatonProcess.July2021.Domain/bin
/Hahn.ApplicatonProcess.July2021.Domain/obj
/Hahn.ApplicatonProcess.July2021.Domain/*.user

/Hahn.ApplicatonProcess.July2021.Web/Properties
/Hahn.ApplicatonProcess.July2021.Web/bin
/Hahn.ApplicatonProcess.July2021.Web/obj
/Hahn.ApplicatonProcess.July2021.Web/*.user

/TestRep33/bin
/TestRep33/obj

/TestResults
